.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: RGB(50, 50, 50);
}

.select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: steelblue;
  color: #ffffff;
  font-size: large;
  cursor: pointer;
}
